<div class="master-expense-index">
  <%= render 'index' %>
</div>
<%= link_to 'New Master Expense', new_master_expense_path, remote:true  %>

<div id="edit-modal" class="modal fade">
  <div class="modal-dialog">
   <div id="inner-edit-modal" class="modal-content"></div>
  </div>
</div>



