<div class="goal-index">
  <%= render 'index' %>
</div>
<%= link_to 'New Goal', new_goal_path, remote:true  %>

<div id="goal-modal" class="modal fade">
  <div class="modal-dialog">
   <div id="inner-goal-modal" class="modal-content"></div>
  </div>
</div>

