<div class="expense-index">
  <%= render 'index' %>
</div>
<%= link_to 'New Expense', new_expense_path, remote:true  %>

<div id="expense-modal" class="modal fade">
  <div class="modal-dialog">
   <div id="inner-expense-modal" class="modal-content"></div>
  </div>
</div>
